<script setup lang="ts">
import { onMounted, ref } from 'vue';

import { useRoute } from 'vue-router';

import AuthorBadge from '../components/AuthorBadge.vue';
import { ChannelDetails } from '../interfaces/channel.interface';
import { getChannelDetails } from '../utils/api';
import { RelatedStream } from '../interfaces/streams.interface';
import StreamsList from '../components/StreamsList.vue';
import TheDescription from '../components/TheDescription.vue';

const route = useRoute();

const channel = ref<ChannelDetails>();
const thumbnailLoader = ref<HTMLDivElement>();
const thumbnail = ref<HTMLImageElement>();
const relatedStreams = ref<RelatedStream[]>();

onMounted(async () => {
  channel.value = await getChannelDetails(route.params);

  // to disable clickable on channel-name because we are already in the channel...
  relatedStreams.value = channel.value.items.map((stream) => {
    const temp = stream;
    temp.uploaderUrl = undefined;
    return temp;
  });
});

const onImgLoad = (): void => {
  thumbnailLoader.value?.classList.add('hidden');
  thumbnail.value?.classList.remove('h-0');
};
</script>

<template>
  <template v-if="channel">
    <div ref="thumbnailLoader" class="h-[310px] w-full animate-pulse bg-slate-800" />
    <img
      ref="thumbnail"
      class="h-0 w-full"
      loading="lazy"
      :src="channel.bannerUrl"
      :alt="channel.name"
      @load="onImgLoad"
    />
    <div class="prose max-w-full">
      <AuthorBadge class="object-fill" :name="channel.name" :thumbnail="channel.avatarUrl" />
      <TheDescription :description="channel.description" :hide-button="true" />
    </div>

    <StreamsList :items="channel.items" />
  </template>
</template>
