<script setup lang="ts">
import LayoutCenter from '../layouts/LayoutCenter.vue';
</script>

<template>
  <LayoutCenter>
    <h1 class="text-2xl">( •_•) Hmm something went wrong... (•_• )</h1>
    <p class="text-lg">
      Please create an issue at
      <a class="text-red-600 underline hover:cursor-pointer" href="https://codeberg.org/Epsilon_02/Re-Piped/issues/new"
        >codeberg.org</a
      >
    </p>
    <router-link :to="{ name: 'Trending' }" class="text-xl text-red-600 underline">Go to overview</router-link>
  </LayoutCenter>
</template>
