<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';

import { useRoute } from 'vue-router';

import { search } from '../utils/api';
import { SearchResults } from '../interfaces/search-results.interface';
import StreamsList from '../components/StreamsList.vue';

const route = useRoute();

const results = ref<SearchResults>();

onMounted(async () => {
  results.value = await search(route.query.searchQuery as string);
});

watch(route, async (newRoute) => {
  results.value = await search(newRoute.query.searchQuery as string);
});
</script>

<template>
  <div>Results</div>
  <template v-if="results">
    <!-- unknown page size -->
    <StreamsList :items="results.items" :page-size="500" />
  </template>
</template>
