<script setup lang="ts">
import { onMounted, ref } from 'vue';

import { useRoute } from 'vue-router';

import { getTrending } from '../utils/api';
import { RelatedStream } from '../interfaces/streams.interface';
import StreamsList from '../components/StreamsList.vue';

const { query } = useRoute();

const trendingVideos = ref<RelatedStream[]>();

onMounted(async () => {
  trendingVideos.value = await getTrending(query.region as string);
});
</script>

<template>
  <h1>Trending</h1>
  <template v-if="trendingVideos">
    <StreamsList :items="trendingVideos" />
  </template>
</template>
