<script setup lang="ts">
import { onMounted, ref } from 'vue';

import { useRoute } from 'vue-router';

import Streams, { BaseStream } from '../interfaces/streams.interface';
import AuthorBadge from '../components/AuthorBadge.vue';
import CommentList from '../components/CommentList.vue';
import { getStream } from '../utils/api';
import { numberCompactNotation } from '../utils/formatter';
import TheDescription from '../components/TheDescription.vue';
import ThePlayer from '../components/ThePlayer.vue';
import useTitle from '../hooks/useTitle';
import VideoPreview from '../components/VideoPreview.vue';

const { query } = useRoute();
const videoId = String(query.v);

const streams = ref<Streams>();
const sources = ref<
  {
    src: string;
    type: string;
  }[]
>([]);
const timeStamp = ref<number>(0);

function getCorrectStream(bStreams: BaseStream[]): BaseStream[] {
  // filter format "v3GPP" out because it seems videojs can't work with this
  return bStreams.filter((stream) => !stream.videoOnly).filter((stream) => stream.format !== 'v3GPP');
}

onMounted(async () => {
  streams.value = await getStream(String(query.v));
  if (query.t) {
    timeStamp.value = Number(query.t);
  }

  let streamType;
  if (query.listen && Number(query.listen) === 1) {
    streamType = streams.value.audioStreams;
  } else {
    streamType = streams.value.videoStreams;
  }

  sources.value = getCorrectStream(streamType).map((stream) => ({
    src: stream.url,
    type: stream.mimeType,
  }));

  useTitle(streams.value.title);
});
</script>

<template>
  <div v-if="streams !== undefined">
    <div class="mb-1">
      <ThePlayer :streams="streams" :time-stamp="timeStamp" />
    </div>
    <div class="px-[1vw]">
      <div class="prose min-w-max">
        <h2 class="mb-0">{{ streams.title }}</h2>
        <div class="flex flex-row">
          <div class="mr-5">{{ new Date(streams.uploadDate).toDateString() }}</div>
          <div>{{ numberCompactNotation.format(streams.views) }} {{ $t('views') }}</div>
        </div>
        <AuthorBadge
          :url="streams.uploaderUrl"
          :thumbnail="streams.uploaderAvatar"
          :name="streams.uploader"
          :verified="streams.uploaderVerified"
        />
      </div>
      <TheDescription class="lg:mr-8" :description="streams.description" />
      <div class="flex flex-col-reverse lg:grid lg:grid-cols-5 lg:gap-x-7">
        <div class="border-t-2 border-t-slate-500 pt-2 lg:col-span-4 lg:border-none lg:pt-0">
          <CommentList :video-id="videoId" />
        </div>
        <div>
          <VideoPreview
            v-for="relatedStream in streams.relatedStreams"
            :key="relatedStream.url"
            :video-info="relatedStream"
            class="mb-7 lg:mr-8"
          />
        </div>
      </div>
    </div>
  </div>
</template>
