<script setup lang="ts">
import { ref } from 'vue';

import { numberCompactNotation } from '../utils/formatter';

defineProps<{
  url?: string;
  thumbnail?: string;
  name?: string;
  verified?: boolean;
  pinned?: boolean;
  views?: number;
  timeStamp?: string;
}>();

const avatarLoader = ref<HTMLDivElement>();
const avatar = ref<HTMLImageElement>();

const onImgLoad = (): void => {
  avatarLoader.value?.classList.add('hidden');
  avatar.value?.classList.remove('h-0');
};
</script>

<template>
  <a :href="url" class="flex items-center">
    <div ref="avatarLoader" class="my-1 mr-2 h-11 w-11 animate-pulse rounded-full bg-slate-800" />
    <img
      ref="avatar"
      class="my-1 mr-2 h-0 w-11 rounded-full"
      loading="lazy"
      :src="thumbnail"
      alt=""
      @load="onImgLoad"
    />
    <div class="flex flex-col">
      <div v-if="pinned" class="text-xs">
        <vue-feather type="feather" class="mr-1 h-4" />
        <span>{{ $t('pinnedByUploader') }}</span>
      </div>
      <div class="flex flex-row items-center gap-1">
        <span class="font-bold" :class="{ 'hover:underline': url !== undefined }">{{ name }}</span>
        <vue-feather v-if="verified" type="check" class="h-4" />
      </div>
      <div v-if="views || timeStamp" class="flex flex-row items-center">
        <div v-if="views" class="mr-1">
          <vue-feather type="eye" class="mr-1 h-4" />
          {{ numberCompactNotation.format(views) }} •
        </div>
        <div v-if="timeStamp">
          {{ timeStamp }}
        </div>
      </div>
    </div>
  </a>
</template>
