<script setup lang="ts">
import { ref } from 'vue';

import Channel from '../interfaces/channel.interface';
import LayoutHorizontalCenter from '../layouts/LayoutHorizontalCenter.vue';
import { numberCompactNotation } from '../utils/formatter';

defineProps<{ channel: Channel }>();

const thumbnailLoader = ref<HTMLDivElement>();
const thumbnail = ref<HTMLImageElement>();

const onImgLoad = (): void => {
  thumbnailLoader.value?.classList.add('hidden');
  thumbnail.value?.classList.remove('h-0');
};
</script>

<template>
  <div class="prose text-center">
    <a :href="channel.url">
      <LayoutHorizontalCenter>
        <div ref="thumbnailLoader" class="mt-5 mb-0 h-[150px] w-[150px] animate-pulse rounded-full bg-slate-800" />
        <div class="tooltip tooltip-bottom" :data-tip="channel.description">
          <img
            ref="thumbnail"
            width="150"
            class="mt-5 mb-0 h-0 rounded-full"
            loading="lazy"
            :src="channel.thumbnail"
            :alt="channel.name"
            @load="onImgLoad"
          />
        </div>
      </LayoutHorizontalCenter>
      <div class="flex flex-col">
        <span>{{ channel.name }}</span>
      </div>
    </a>
    <div class="group relative h-12 pt-4">
      <button class="btn btn-accent invisible absolute top-1 left-[15px] px-24 group-hover:visible">Subscribe</button>
      <span>{{ $t('videos') }}: {{ channel.videos }} • </span>
      <span>{{ $t('subscribers') }}: {{ numberCompactNotation.format(channel.subscribers) }}</span>
    </div>
  </div>
</template>

<style lang="scss">
@import 'tailwind-loves-sass';

.tooltip-bottom {
  ::before {
    @include apply('top-32');
  }
}
</style>
