<script setup lang="ts">
import { onMounted, ref } from 'vue';

import VideoComments, { VideoComment } from '../interfaces/video-comment.interface';
import { getComments } from '../utils/api';
import LayoutHorizontalCenter from '../layouts/LayoutHorizontalCenter.vue';
import SubComments from './SubComments.vue';
import TheComment from './TheComment.vue';

const props = defineProps<{ videoId: string }>();

const fetchedComments = ref<VideoComments>();
const pinnedComment = ref<VideoComment>();
const comments = ref<VideoComment[]>();

onMounted(async () => {
  fetchedComments.value = await getComments(props.videoId);

  pinnedComment.value = fetchedComments.value.items.find((comment) => comment.pinned);
  comments.value = fetchedComments.value.items.filter((comment) => !comment.pinned);
});
</script>

<template>
  <template v-if="fetchedComments === undefined">
    <div>Could not load comments</div>
  </template>

  <template v-if="fetchedComments?.disabled">
    <LayoutHorizontalCenter class="text-2xl">(╯°-°)╯</LayoutHorizontalCenter>
    <LayoutHorizontalCenter class="text-2xl">Comments are disabled</LayoutHorizontalCenter>
  </template>

  <template v-else-if="comments?.length !== 0">
    <div class="mb-2 py-3">
      <TheComment v-if="pinnedComment !== undefined" :comment="pinnedComment" />
      <SubComments v-if="pinnedComment?.repliesPage" :video-id="videoId" :next-page-json="pinnedComment?.repliesPage" />
    </div>

    <div v-for="comment in comments" :key="comment.commentId" class="mb-2 py-3">
      <TheComment :comment="comment" />
      <SubComments v-if="comment?.repliesPage" :video-id="videoId" :next-page-json="comment?.repliesPage" />
    </div>
  </template>

  <template v-else>
    <LayoutHorizontalCenter class="text-2xl">( •_•)</LayoutHorizontalCenter>
    <LayoutHorizontalCenter class="text-2xl">No comments</LayoutHorizontalCenter>
  </template>
</template>
