<script setup lang="ts">
import { ref } from 'vue';

import { useRouter } from 'vue-router';

import SearchSuggestions from './SearchSuggestions.vue';
import TheSettings from './TheSettings.vue';

const router = useRouter();

const searchQuery = ref<string>();
const suggestionsVisible = ref<boolean>(false);
const searchSuggestions = ref<typeof SearchSuggestions>();

const onKeyUp = (e: KeyboardEvent): void => {
  if (e.key === 'ArrowUp' || e.key === 'ArrowDown') {
    e.preventDefault();
  }
  searchSuggestions.value?.onKeyUp(e);
};

const onKeyDown = (e: KeyboardEvent): void => {
  if (e.key === 'ArrowUp' || e.key === 'ArrowDown') {
    e.preventDefault();
  }
};

const onKeyPress = (e: KeyboardEvent): void => {
  if (e.key === 'Enter') {
    (e.target as HTMLInputElement).blur();
    router.push({
      path: '/results',
      query: { searchQuery: searchQuery.value },
    });
  }
};

const onInputFocus = (): void => {
  suggestionsVisible.value = true;
};

const onInputBlur = (): void => {
  suggestionsVisible.value = false;
};

const onSearchQueryChange = (query: string): void => {
  searchQuery.value = query;
};
</script>

<template>
  <!-- <input
    v-model="searchQuery"
    class="input !h-10 !w-full"
    type="text"
    role="search"
    :title="$t('actions.search')"
    :placeholder="$t('actions.search')"
    @keyup="onKeyUp"
    @keypress="onKeyPress"
    @focus="onInputFocus"
    @blur="onInputBlur"
  /> -->
  <div class="grid grid-cols-3 pt-2 shadow-sm shadow-primary">
    <div class="w-fit">
      <a class="flex flex-row" href="/">
        <img class="h-11 object-scale-down pb-2" src="../assets/RePipe.png" alt="Re:Piped logo" />
        <div class="prose invisible relative sm:visible">
          <h1 class="pl-1">e:Piped</h1>
        </div>
      </a>
    </div>
    <div>
      <input
        v-model="searchQuery"
        class="input input-bordered !h-10 !w-full"
        type="text"
        role="search"
        :placeholder="$t('search')"
        @keyup="onKeyUp"
        @keydown="onKeyDown"
        @keypress="onKeyPress"
        @focus="onInputFocus"
        @blur="onInputBlur"
      />
      <SearchSuggestions
        v-show="searchQuery && suggestionsVisible"
        ref="searchSuggestions"
        :query="searchQuery"
        @search-change="onSearchQueryChange"
      />
    </div>
    <div class="flex items-center">
      <TheSettings />
    </div>
  </div>
</template>
