<script setup lang="ts">
import { ref } from 'vue';

import { useRouter } from 'vue-router';

import { getSearchSuggestions } from '../utils/api';

const props = defineProps<{ query?: string }>();

const router = useRouter();

const emit = defineEmits<{
  (e: 'searchChange', query: string): void;
}>();

const selected = ref<number>(0);
const searchSuggestions = ref<string[]>([]);

const onMouseOver = (i: number): void => {
  if (i !== selected.value) {
    selected.value = i;
  }
};

const setSelected = (val: number): void => {
  selected.value = val;
  emit('searchChange', searchSuggestions.value[selected.value]);
};

const onClick = (i: number): void => {
  setSelected(i);
  router.push({
    path: '/results',
    query: { searchQuery: searchSuggestions.value[i] },
  });
};

const refreshSuggestions = async (): Promise<void> => {
  if (props.query) {
    searchSuggestions.value = await getSearchSuggestions(props.query);
    searchSuggestions.value.unshift(props.query);
    selected.value = 0;
  }
};

const onKeyUp = (e: KeyboardEvent): void => {
  if (e.key === 'ArrowUp') {
    if (selected.value <= 0) {
      setSelected(searchSuggestions.value.length - 1);
    } else {
      setSelected(selected.value - 1);
    }
    e.preventDefault();
  } else if (e.key === 'ArrowDown') {
    if (selected.value >= searchSuggestions.value.length - 1) {
      setSelected(0);
    } else {
      setSelected(selected.value + 1);
    }
    e.preventDefault();
  } else {
    refreshSuggestions();
  }
};

defineExpose({ onKeyUp });
</script>

<template>
  <!-- <div class="suggestions-border dropdown-content menu fixed z-10 mt-1 w-96 rounded-b-md border-2 bg-base-100"> -->
  <div class="suggestions-border fixed z-10 mt-[6px] w-[636px] rounded-b bg-base-100 px-3 pb-2">
    <ul>
      <li
        v-for="(suggestion, i) in searchSuggestions"
        :key="i"
        class="hover:selected hover:cursor-pointer"
        :class="{ selected: selected === i }"
        @mouseover="onMouseOver(i)"
        @mousedown.stop="onClick(i)"
        v-text="suggestion"
      />
    </ul>
  </div>
</template>

<style>
.selected {
  @apply bg-white bg-opacity-20;
}

.suggestions-border {
  outline: 2px solid hsla(var(--bc) / 0.2);
  outline-offset: 2px;
}
</style>
