<script setup lang="ts">
import Channel from '../interfaces/channel.interface';
import ChannelBadge from './ChannelBadge.vue';
import { Either } from '../interfaces/only-either.interface';
import { RelatedStream } from '../interfaces/streams.interface';
import VideoPreview from './VideoPreview.vue';

defineProps<{ items: Either<RelatedStream, Channel>[] }>();

const instanceOfChannel = (object: Either<RelatedStream, Channel>): object is Channel => {
  return 'name' in object;
};

const instanceOfRelatedStream = (object: Either<RelatedStream, Channel>): object is RelatedStream => {
  return 'title' in object;
};
</script>

<template>
  <div class="grid gap-x-[1vw] gap-y-10 px-2 sm:grid-cols-3 lg:grid-cols-6">
    <template v-for="item in items" :key="item.url">
      <template v-if="instanceOfChannel(item)">
        <ChannelBadge :channel="item" />
      </template>
      <template v-if="instanceOfRelatedStream(item)">
        <VideoPreview :video-info="item" />
      </template>
    </template>
  </div>
</template>
