<script setup lang="ts">
import { ref } from 'vue';

import { getNextPage } from '../utils/api';
import TheComment from './TheComment.vue';
import VideoComments from '../interfaces/video-comment.interface';

const props = defineProps<{ videoId: string; nextPageJson: string }>();

const replies = ref<VideoComments>();
const repliesVisible = ref<boolean>(false);

const loadComments = async (): Promise<void> => {
  replies.value = await getNextPage<VideoComments>(props.videoId, props.nextPageJson, 'comments');
};

const toggleComments = (): void => {
  if (replies.value === undefined) {
    loadComments();
  }
  repliesVisible.value = !repliesVisible.value;
};
</script>

<template>
  <button class="btn btn-ghost" @click="toggleComments">
    <span class="mr-2">{{ $t('showReplies') }}</span>
    <vue-feather type="corner-right-down" class="w-5" />
  </button>
  <div v-show="repliesVisible" class="ml-7">
    <TheComment v-for="reply in replies?.items" :key="reply.commentId" :comment="reply" />
  </div>
</template>
