<script setup lang="ts">
import AuthorBadge from './AuthorBadge.vue';
import { convert } from '../utils/converter';
import { VideoComment } from '../interfaces/video-comment.interface';

defineProps<{ comment: VideoComment }>();
</script>

<template>
  <AuthorBadge
    :url="comment.commentorUrl"
    :thumbnail="comment.thumbnail"
    :name="comment.author"
    :verified="comment.verified"
    :pinned="comment.pinned"
    :time-stamp="comment.commentedTime"
  />
  <div class="ml-12 mt-2 flex flex-col">
    <div v-dompurify-html="convert(comment.commentText)" />
    <div class="mt-3 inline-flex flex-row items-center gap-2">
      <span>{{ comment.likeCount }}</span>
      <vue-feather v-if="comment.hearted" type="heart" fill="red" class="h-4 text-[#ff0000]" />
      <vue-feather v-else type="thumbs-up" class="h-4" />
    </div>
  </div>
</template>
