<script setup lang="ts">
import { ref } from 'vue';

import { convert } from '../utils/converter';

defineProps<{ description: string; hideButton?: boolean }>();

const descriptionRef = ref<HTMLDivElement>();
const showDescription = ref<boolean>(false);

const toggleDescription = (): void => {
  showDescription.value = !showDescription.value;
  if (showDescription.value) {
    descriptionRef.value?.classList.remove('overflow-hidden');
    descriptionRef.value?.classList.remove('h-0');
    descriptionRef.value?.classList.add('mb-1');
  } else {
    descriptionRef.value?.classList.add('overflow-hidden');
    descriptionRef.value?.classList.add('h-0');
    descriptionRef.value?.classList.remove('mb-1');
  }
};
</script>

<template>
  <div>
    <div ref="descriptionRef" :class="hideButton ? '' : 'h-0 overflow-hidden'">
      <span v-dompurify-html="convert(description)" class="prose" />
    </div>
    <div class="flex flex-col">
      <template v-if="!hideButton">
        <button class="btn btn-ghost min-h-8 my-2 h-10 max-w-fit bg-base-100" @click="toggleDescription">
          {{ showDescription ? $t('hideDescription') : $t('showDescription') }}
        </button>
      </template>
      <div class="mb-4 w-full border-t border-t-primary" />
    </div>
  </div>
</template>
