<script setup lang="ts">
import { onMounted, onUnmounted, ref } from 'vue';

import Hls from 'hls.js';

import { convertSecondsToDuration } from '../utils/converter';
import Streams from '../interfaces/streams.interface';

const props = defineProps<{ streams: Streams; timeStamp: number }>();

const video = ref<HTMLVideoElement>();
const videoContainer = ref<HTMLDivElement>();
const volumeSlider = ref<HTMLInputElement>();
const currentTime = ref<HTMLDivElement>();
const totalTime = ref<HTMLDivElement>();
const timeLineContainer = ref<HTMLDivElement>();
const loadingAnimation = ref<HTMLDivElement>();

const hls = ref<Hls>(new Hls());
const levelMap = ref<Map<number, number>>(new Map());
const selectedLevel = ref<number>(-1);
const playBackRates = ref<number[]>([0.25, 1.5, 1.75, 1, 1.25, 1.5, 1.75, 2, 2.5, 3]);

let isScrubbing = false;

const togglePlay = (): void => {
  if (video.value?.paused) {
    video.value?.play();
  } else {
    video.value?.pause();
  }
};

const toggleMute = (): void => {
  const v = video.value;
  if (v) {
    v.muted = !v.muted;
  }
};

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const sliderInput = (e: any): void => {
  const v = video.value;
  if (v) {
    v.volume = e.target.value;
    v.muted = e.target.value === 0;
  }
};

const toggleTheaterMode = (): void => {
  videoContainer.value?.classList.toggle('theater');
};

const toggleFullScreen = (): void => {
  if (document.fullscreenElement === null) {
    videoContainer.value?.requestFullscreen();
  } else {
    document.exitFullscreen();
  }
};

const toggleMiniPlayer = (): void => {
  if (document.pictureInPictureElement === null) {
    video.value?.requestPictureInPicture();
  } else {
    document.exitPictureInPicture();
  }
};

const skip = (duration: number): void => {
  if (video.value) {
    video.value.currentTime += duration;
  }
};

const volumeChange = (value: number): void => {
  if (video.value) {
    video.value.volume += value / 100;
  }
};

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const handleTimelineUpdate = (event: any): void => {
  if (timeLineContainer.value === undefined || videoContainer.value === undefined || video.value === undefined) {
    return;
  }

  const rect = timeLineContainer.value.getBoundingClientRect();
  const percent = Math.min(Math.max(0, event.x - rect.x), rect.width) / rect.width;
  timeLineContainer.value.style.setProperty('--preview-position', String(percent));

  if (isScrubbing) {
    event.preventDefault();
    timeLineContainer.value.style.setProperty('--progress-position', String(percent));
  }
};

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const toggleScrubbing = (event: any): void => {
  if (timeLineContainer.value === undefined || videoContainer.value === undefined || video.value === undefined) {
    return;
  }

  let wasPaused;

  const rect = timeLineContainer.value.getBoundingClientRect();
  const percent = Math.min(Math.max(0, event.x - rect.x), rect.width) / rect.width;

  isScrubbing = (event.buttons && 1) === 1;
  videoContainer.value.classList.toggle('scrubbing', isScrubbing);
  if (isScrubbing) {
    wasPaused = video.value.paused;
    video.value.pause();
  } else {
    video.value.currentTime = percent * video.value.duration;
    if (!wasPaused) video.value.play();
  }

  handleTimelineUpdate(event);
};

const onLoadMetadata = (): void => {
  if (totalTime.value) {
    totalTime.value.textContent = convertSecondsToDuration(video.value?.duration);
  }
};

const onTimeUpdate = (): void => {
  if (currentTime.value && timeLineContainer.value) {
    currentTime.value.textContent = convertSecondsToDuration(video.value?.currentTime);
    const percent = (video.value?.currentTime ?? 0) / (video.value?.duration ?? 1);
    timeLineContainer.value.style.setProperty('--progress-position', String(percent));
  }
};

const onVolumeChange = (): void => {
  if (volumeSlider.value && video.value) {
    volumeSlider.value.value = String(video.value.volume);

    let volumeLevel: string;
    if (video.value.muted || video.value.volume === 0) {
      volumeSlider.value.value = '0';
      volumeLevel = 'muted';
    } else if (video.value.volume >= 0.5) {
      volumeLevel = 'high';
    } else {
      volumeLevel = 'low';
    }

    if (videoContainer.value) {
      videoContainer.value.dataset.volumeLevel = volumeLevel;
    }
  }
};

const onPlay = (): void => {
  videoContainer.value?.classList.remove('paused');
};

const onPause = (): void => {
  videoContainer.value?.classList.add('paused');
};

const selectQuality = (selectedQuality: number): void => {
  hls.value.currentLevel = selectedQuality;
  selectedLevel.value = selectedQuality;
};

const onLoadStart = (): void => {
  loadingAnimation.value?.classList.remove('hidden');
};

const onCanPlay = (): void => {
  loadingAnimation.value?.classList.add('hidden');
};

const setPlayBackRate = (rate: number): void => {
  if (video.value) {
    video.value.playbackRate = rate;
  }
};

onMounted(() => {
  if (video.value) {
    if (Hls.isSupported() && props.streams.hls !== null) {
      hls.value.loadSource(props.streams.hls);
      hls.value.attachMedia(video.value);

      hls.value.on(Hls.Events.LEVEL_LOADED, () => {
        hls.value.levels
          .map((level) => level.width)
          .forEach((width, index) => {
            if (levelMap.value) {
              levelMap.value.set(width, index);
            }
          });
      });
    }

    video.value.currentTime = props.timeStamp;

    document.addEventListener('keydown', (event) => {
      const tagName = document.activeElement?.tagName.toLocaleLowerCase();

      if (tagName === 'input') {
        return;
      }

      switch (event.key.toLocaleLowerCase()) {
        case ' ':
          event.preventDefault();
          if (tagName === 'button') {
            return;
          }
        // eslint-disable-next-line no-fallthrough
        case 'k':
          togglePlay();
          break;
        case 'f':
          toggleFullScreen();
          break;
        case 't':
          toggleTheaterMode();
          break;
        case 'i':
          toggleMiniPlayer();
          break;
        case 'm':
          toggleMute();
          break;
        case 'arrowleft':
        case 'j':
          skip(-10);
          break;
        case 'arrowright':
        case 'l':
          skip(10);
          break;
        case 'arrowup':
          event.preventDefault();
          volumeChange(5);
          break;
        case 'arrowdown':
          event.preventDefault();
          volumeChange(-5);
          break;
        default:
        // noop
      }
    });

    document.addEventListener('fullscreenchange', () => {
      videoContainer.value?.classList.toggle('full-screen', !!document.fullscreenElement);
    });

    // enable scrubbing on the whole document if you currently scrubbing by holding mouse down
    document.addEventListener('mouseup', (event) => {
      if (isScrubbing) toggleScrubbing(event);
    });
    document.addEventListener('mousemove', (event) => {
      if (isScrubbing) handleTimelineUpdate(event);
    });
  }
});

onUnmounted(() => {
  hls.value.detachMedia();
  hls.value.destroy();
});
</script>

<template>
  <div ref="videoContainer" class="video-container paused" data-volume-level="high">
    <div ref="loadingAnimation" class="absolute left-0 right-0 top-0 bottom-0 m-auto h-10 w-10 rounded-full">
      <half-circle-spinner :animation-duration="1000" :size="60" color="hsl(var(--p))" />
    </div>
    <div class="video-controls-container">
      <div
        ref="timeLineContainer"
        class="timeline-container"
        @mousedown="toggleScrubbing"
        @mousemove="handleTimelineUpdate"
      >
        <div class="timeline">
          <div class="thumb-indicator"></div>
        </div>
      </div>
      <div class="controls">
        <button class="play-pause-btn" @click="togglePlay">
          <vue-feather type="play" class="play-icon" />
          <vue-feather type="pause" class="pause-icon" />
        </button>
        <div class="volume-container">
          <button class="mute" @click="toggleMute">
            <vue-feather type="volume-2" class="volume-high-icon" />
            <vue-feather type="volume-1" class="volume-low-icon" />
            <vue-feather type="volume-x" class="volume-muted-icon" />
          </button>
          <input
            ref="volumeSlider"
            type="range"
            min="0"
            max="1"
            step="any"
            value="1"
            class="volume-slider range range-primary range-xs"
            @input="sliderInput"
          />
        </div>
        <div class="duration-container">
          <template v-if="streams.duration > 0">
            <div ref="currentTime">0:00</div>
            /
            <div ref="totalTime"></div>
          </template>
          <div v-else class="flex flex-row items-center gap-2"><span class="text-3xl text-red-600">•</span>LIVE</div>
        </div>
        <div class="player-settings">
          <label tabindex="0">
            <vue-feather type="settings" class="text-primary" />
          </label>
          <ul tabindex="0" class="dropdown-content menu bg-base-100 shadow">
            <li>
              <span>{{ $t('quality') }}</span>
              <ul class="bg-base-100">
                <li>
                  <a @click="selectQuality(-1)">auto</a>
                </li>
                <li v-for="entry in levelMap.entries()" :key="entry[0]">
                  <a @click="selectQuality(entry[1])"> {{ entry[0] }}p</a>
                </li>
              </ul>
            </li>
            <li class="bg-base-100">
              <span>{{ $t('playbackRate') }}</span>
              <ul class="bg-base-100">
                <li v-for="rate in playBackRates" :key="rate">
                  <a @click="setPlayBackRate(rate)">{{ rate }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <button class="theater-btn" @click="toggleTheaterMode">
          <vue-feather type="square" class="th-on" />
          <vue-feather type="square" stroke-width="4" class="th-off" />
        </button>
        <button class="full-screen-btn" @click="toggleFullScreen">
          <vue-feather type="maximize" class="open" />
          <vue-feather type="minimize" class="close" />
        </button>
      </div>
    </div>
    <video
      id="player"
      ref="video"
      :poster="streams.thumbnailUrl"
      @click="togglePlay"
      @dblclick="toggleFullScreen"
      @loadedmetadata="onLoadMetadata"
      @timeupdate="onTimeUpdate"
      @volumechange="onVolumeChange"
      @play="onPlay"
      @pause="onPause"
      @waiting="onLoadStart"
      @canplay="onCanPlay"
    />
  </div>
</template>

<style lang="scss" scoped>
.timeline-container {
  height: 7px;
  margin-inline: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover .timeline {
    height: 100%;
  }

  &:hover .timeline::before {
    display: block;
  }
}

.timeline {
  background-color: rgba(100, 100, 100, 0.5);
  height: 3px;
  width: 100%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: hsl(var(--p));
  }

  .thumb-indicator {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: hsl(var(--p));
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;

    :hover > & {
      --scale: 1;
    }
  }
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
  @apply hidden;
}

.video-container {
  @apply relative flex w-11/12 max-w-5xl justify-center bg-black;
  margin-inline: auto;
  max-height: 80vh;

  &:hover .video-controls-container,
  &:focus-within .video-controls-container,
  &.paused .video-controls-container {
    @apply opacity-100;
  }

  .controls {
    @apply flex items-center gap-2 p-1;

    button {
      @apply h-7 w-7 cursor-pointer border-none bg-none p-0;
      @apply text-base text-primary opacity-80 transition-opacity ease-in-out hover:opacity-100;
    }
  }

  &.paused .pause-icon {
    @apply hidden;
  }

  &:not(.paused) .play-icon {
    @apply hidden;
  }

  &[data-volume-level='high'] .volume-high-icon {
    @apply block;
  }

  &[data-volume-level='low'] .volume-low-icon {
    @apply block;
  }

  &[data-volume-level='muted'] .volume-muted-icon {
    @apply block;
  }

  &.full-screen,
  &.theater {
    @apply w-full max-w-[initial];
  }

  &.theater {
    max-height: 80vh;
  }

  &.full-screen {
    max-height: 100vh;
    padding: 0 !important;
  }

  &:not(.theater) {
    @apply bg-inherit pt-2;
  }

  &.theater .th-on {
    @apply hidden;
  }

  &:not(.theater) .th-off {
    @apply hidden;
  }

  &.full-screen .open {
    @apply hidden;
  }

  &:not(.full-screen) .close {
    @apply hidden;
  }
}

.video-controls-container {
  @apply absolute left-0 right-0 bottom-0 z-10 opacity-0 transition-opacity ease-in-out;

  //  I have no idea why this isn't working with tailwind rules
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
  }
}

.volume-container {
  @apply flex items-center;

  &:hover .volume-slider,
  .volume-slider:focus-within {
    width: 100px;
    transform: scaleX(1);
  }
}

.volume-slider {
  width: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

.duration-container {
  @apply flex flex-grow items-center gap-1 text-white;
}

// don't ask me why but prettier/eslint in vscode says other things than the cli/pipeline
// with this workaround everyone seems happy
.player-settings {
  @apply dropdown-top;
  @apply dropdown;
}

video {
  @apply w-full bg-black;
}
</style>
