<script setup lang="ts">
import { ref } from 'vue';

import { capitalize } from '../utils/converter';

const themes = ref(JSON.parse(import.meta.env.THEMES));
</script>

<template>
  <label for="settings" class="btn btn-ghost btn-circle min-h-8 ml-auto mr-2 h-8 w-8">
    <vue-feather class="h-5 text-primary" type="sliders" />
  </label>

  <Teleport to="body">
    <input id="settings" type="checkbox" class="modal-toggle" />
    <div class="modal modal-bottom sm:modal-middle">
      <div class="modal-box relative">
        <label for="settings" class="btn btn-ghost btn-circle btn-sm absolute right-2 top-2">
          <vue-feather class="h-5 text-base-content" type="x" />
        </label>
        <label class="label">
          <span class="label-text">{{ $t('theme') }}</span>
        </label>
        <select id="theme-chooser" name="choose-theme" data-choose-theme class="select">
          <option value="rePiped">RePiped</option>
          <option v-for="theme in themes" :key="theme" :value="theme">
            {{ capitalize(theme) }}
          </option>
        </select>
      </div>
    </div>
  </Teleport>
</template>
