<script setup lang="ts">
import { ref } from 'vue';

import AuthorBadge from './AuthorBadge.vue';
import { convertSecondsToDuration } from '../utils/converter';
import { RelatedStream } from '../interfaces/streams.interface';

defineProps<{ videoInfo: RelatedStream }>();

const thumbnailLoader = ref<HTMLDivElement>();
const thumbnail = ref<HTMLImageElement>();

const onImgLoad = (): void => {
  thumbnailLoader.value?.classList.add('hidden');
  thumbnail.value?.classList.remove('h-0');
};
</script>

<template>
  <div>
    <a :href="videoInfo.url" class="prose flex max-w-[27rem] flex-col hover:underline">
      <div class="relative">
        <div ref="thumbnailLoader" class="h-[167px] w-full animate-pulse bg-slate-800" />
        <img
          ref="thumbnail"
          class="my-1 h-0 max-h-[167px] w-full object-contain"
          height="118"
          width="210"
          loading="lazy"
          :src="videoInfo.thumbnail"
          :alt="videoInfo.title"
          @load="onImgLoad"
        />
        <div class="absolute bottom-2 right-2">
          <span v-if="videoInfo.duration > 0" class="max-w-fit rounded-lg bg-black bg-opacity-70 px-2 text-white">{{
            convertSecondsToDuration(videoInfo.duration)
          }}</span>
          <span v-else class="max-w-fit rounded-lg bg-red-600 px-2 py-0">LIVE</span>
        </div>
      </div>
      <div class="tooltip" :data-tip="videoInfo.title">
        <p class="m-0 truncate">{{ videoInfo.title }}</p>
      </div>
    </a>
    <AuthorBadge
      :url="videoInfo.uploaderUrl"
      :thumbnail="videoInfo.uploaderAvatar"
      :name="videoInfo.uploaderName"
      :verified="videoInfo.uploaderVerified"
      :views="videoInfo.views"
      :time-stamp="videoInfo.uploadedDate"
    />
  </div>
</template>
