<script setup lang="ts">
// This project is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import { onMounted } from 'vue';

import { themeChange } from 'theme-change';

import NavBar from './components/NavBar.vue';

onMounted(() => {
  // initialize theme changing
  themeChange(false);
});
</script>

<template>
  <NavBar id="navbar" />
  <div id="main" class="m-0">
    <router-view></router-view>
  </div>
</template>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
