@import 'tailwind-loves-sass';

@tailwind base;
@tailwind components;
@tailwind utilities;

.center-y {
  @include apply('flex flex-col items-center justify-center');
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';

  > #navbar {
    padding: 5px;
    padding-top: 10px;
    padding-left: 10px;
    grid-area: header;
    z-index: 100;
  }

  > #main {
    grid-area: main;
    overflow: auto;
    overflow-x: hidden;
  }
}
